.ImageSlider {
    margin-top: -4px;
}

.ImageSlider > .slick-dots {
    bottom: 5px;
}

.ImageSlider > .slick-dots li {
    margin: 0;
    width: 15px;
}

.ImageSlider > .slick-dots li button:before {
    font-size: 10px;
}

.ImageSlider .slick-track img {
    width: 100%;
}