/* global */
@font-face { font-family: Gyungphil; src: url('/DX-Gyungphil-B.ttf'); }

input, textarea {
  box-sizing : border-box;
}

h1, h3, p {
  font-family: Gyungphil, sans-serif;
}

p {
  font-weight: lighter;
}

button {
  border: none;
}

.bottomBorder {
  border-bottom: 1px solid gray;
}

.sidePadding {
  padding-left: 30px;
  padding-right: 30px;
}

.App {
  text-align: center;
}

.Intro {
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
}

.Ribbon img {
  height: 29px;
}

.App-header {
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
}

.App-intro {
  /*font-size: large;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
